.animate-on-load {
    opacity: 0;
    transform: translateY(15px);
  }
  
  // Header animation
  header {
    animation: fadeInUp 0.5s ease-in-out;
  }
  
  // Section content animation
  section {
    animation: fadeInUp 0.5s ease-in-out;
  }
  
  // Footer animation
  footer {
    animation: fadeInUp 0.5s ease-in-out;
    opacity: 1;
  }
    
  @keyframes fadeInUp {
    from {
      opacity: 0.2;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
